*{
    margin: 0;
}

html, body{
    overflow-x: hidden;
}

header{
    background-color: #213458;
    padding-bottom: 10vh;
    color: white;
}

/* nav bar */
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.right-links{
    display: flex;
    gap: 10px;
}


.logo{
    font-size: 36px;
}

.img{
    padding-right: 2%;
}

nav{
    display: flex;
    
    flex-shrink: 2;
}

ul{
    text-decoration: none;
}

li{
    list-style: none;
}


/* hero and img */
.lower-header{
    display: flex;
    gap: 50px;
    margin-left: 5vw;
    margin-top: 20vh;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-img{
    display: flex;
    width: 50vw;
    border-radius: 15px;
}


a{
    color: white;
    text-decoration: none;
}

/* why section */
.why-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.why-title{
    font-size: 1.5em;
    font-weight: 800;
}

.img-why{
    display: flex;
    flex-shrink: 2;
    justify-content: center;
    gap: 10%;
}

.why-img-size{
    width: 25%;
}

.why-text{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    width: 60%;
    gap: 20%;
    font-size: 1em;
    
}

/* fast section */

.fast-container{
    display: flex;
    flex-direction: column;
    background-color: #1d7d81;
    margin: 10%;
    border-radius: 25px;
    padding: 5%;
    align-items: center;
}

.img-fast{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.fast-text{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    gap: 10%;
    padding-left: 10%;
}

/* Cheap section */

.cheap-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contact */
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1d7d81;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    padding: 5%;
    color: white;
}

/* footer */
footer{
    background-color: #213458;
    text-align: center;
    margin-top:  5%;
    color: white;
    padding: 3%;
}