*{
    margin: 0;
}

header{
    background-color: #213458;
    padding-bottom: 10vh;
    color: white;
}

/* nav bar */
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.right-links{
    display: flex;
    gap: 10px;
}

.logo{
    font-size: 36px;
}

nav{
    font-size: 28px;
}

ul{
    text-decoration: none;
}

li{
    list-style: none;
}


/* hero and img */
.lower-header{
    display: flex;
    gap: 50px;
    margin-left: 5vw;
    margin-top: 20vh;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-img{
    width: 50vw;
    height: 50vh;
    border-radius: 15px;
}


a{
    color: white;
    text-decoration: none;
}